img {
    width: 100px;
  }
  
  .cardsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .description {
    transition: all 0.35s;
  }
  
  .card {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 450px;
    border: 2px solid grey;
  }
  
  .price {
    color: lightsalmon;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  /* .description::after {
    content: " ...";
    cursor: pointer;
    font-weight: bold;
    color: deepskyblue;
  } */
  
  /* .price::after {
    content: " $";
  } */
  