@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  scroll-behavior: smooth;
}

.BookCards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  border-radius: 16px;

}

h2 {
  padding: 50px;
  text-align: center;
}

