@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');

.BookCard-container {
    
    max-width: 350px;
   /* max-width: 500px; 
    gap: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset;
    border-radius: 16px;*/
    
}
  
.BookCard-title {
    padding: 15px;
    font-size: medium;
    font-family: 'Exo 2', sans-serif;
}

.BookCard-img {
    width: 100%;
    height: 300px;
   /* max-width: 300px;
    height: 300px; */
    object-fit: cover;
   /* margin: 20px 0px; */
    border-radius: 16px;

}

.BookCard-description {
    max-lines: "5";
    padding: 10px;
    padding-bottom: 20px;

    font-family: 'Exo 2', sans-serif;
}

.desc-container {
    max-width: 300px;
    max-height: auto;
    border-radius: 16px;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    position: relative; top: -30px;
    
}

.button {
    display:block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px auto;
    list-style-type: none;
    line-height: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;

}