.footer {
    max-width: 40%;
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(198, 206, 212);
    justify-content: center;
    text-align: center;
   
}

.email {
    justify-content: center;
    text-align: center;

}

